.bio {
  &__text-box {
    width: 60%;
  }
  &-minions {
    &__title {

    }
    &__list {
      padding: 0;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      li {
        flex: 1 0 auto;
        display: block;
        margin: 0 1em;
        text-align: center;
      }
    }
  }
}