a.button {
  text-decoration: none;
}

.button {
  background-color: $primary;
  font-family: $font-heading;
  color: $white;
  padding: .6em 2.4em;
  display: inline-block;

  &:hover {
    background-color: $primary-hover;
  }
}