.header-logo {

  display: flex;
  align-items: center;

  &__name,
  &__description {
    display: block;
  }

  &__link {
    color: $dark-text;
    text-decoration: none;
    display: block;
  }

  &__image {
    height: 3.15em;
    margin-right: .3em;
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__name {
    font-family: $font-heading;
  }

  &__description {
    font-family: $font-body;
    font-size: .65em;
  }
}