$max-width: 1164px;
$gutter-width: 30px;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: $gray;
}

.wrapper {
  max-width: $max-width;
  margin: 0 auto;
  padding-left: $gutter-width;
  padding-right: $gutter-width;
}

$neat-grid: (
  columns: 12,
  gutter: $gutter-width,
);

.grid-wrapper {
  @include grid-container();
  max-width: $max-width;
  margin: 0 auto;
}