* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1164px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

$neat-grid: (
  columns: 12,
  gutter: 30px,
);

.grid-wrapper {
  @include grid-container();
  @include grid-visual;
  max-width: 1164px;
  margin: 0 auto;
}