.page-header {
  background-color: $gray;
  background-position: center;
  background-size: cover;
  padding: 1.75em 0;

  &-content {
    @extend .grid-wrapper;
    background-color: $white;
    padding-top: 15px;
    padding-bottom: 15px;

    &__text-area {
      @include grid-column(7);
      padding-top: 1em;
      text-align: center;
      p {
        margin: 2em 0;
        text-align: left;
      }
    }
    &__image {
      @include grid-column(5);
      img {
        width: 100%;
      }
    }
  }

  &--empty {
    height: 350px;
  }
}