.page-header {
  background-color: $gray;
  background-position: center;
  background-size: cover;
  padding: 1.75em 0;

  &-content {
    @extend .wrapper;
    background-color: $white;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;

    &__text-area {
      flex: 7 0 0;
      padding: 1em $gutter-width;
      padding-right: 0;
      text-align: center;
      p {
        font-size: .8em;
        margin: 2em 0;
        text-align: left;
      }
    }
    &__image {
      flex: 5 0 0;
      img {
        max-width: 100%;
      }
    }

    @media screen and (max-width: 650px){
      flex-direction: column;

      &__image {
        flex-grow: 1;
      }

      &__text-area {
        flex-grow: 1;
        padding-left: 0;
      }
    }
  }

  &--empty {
    height: 350px;
  }
}
