.sticky-header {
  font-family: $font-heading;
  width: 100%;
  background-color: $white;
  transition: .5s;

  &__wrapper {
    @extend .wrapper;
    display: flex;
    justify-content: space-between;
  }

  h1 {
    margin: 0;
  }

  .header-logo {
    margin-top: .425em;
  }

  &__nav {
    ul {
      padding: 0;
      margin-top: 1.375em;
      margin-bottom: calc(1.375em - 5px);


      li {
        display: inline-block;
        list-style: none;
        margin-left: 1em;
        position: relative;
        border-bottom: 5px solid $white;

        &:hover,
        &.current-menu-item {
          border-bottom: 5px solid $primary;
        }

        a {
          color: $dark-text;
          text-decoration: none;
        }

        &:hover ul {
          display: block;
        }

        ul {
          display: none;
          margin: 0;
          padding: 1em 1em 1em 0;
          position: absolute;
          top: calc(100% + 5px);
          background-color: $primary;

          li,
          li:hover {
            border: none;
          }
          a {
            color: white;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}

header[data-fixed="true"] {
  .news-bar {
    margin-bottom: 5em;
  }
  .sticky-header {
    position: fixed;
    top: 0;
    box-shadow: 0 10px 20px -15px #000;
  }
}

// TODO: Make header responsive at 750px