.sticky-header {
  font-family: $font-heading;
  width: 100%;
  background-color: $white;
  transition: .5s;

  &__wrapper {
    @extend .wrapper;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 4em;
  }

  &__nav-link {
    margin-top: 5px;
    margin-left: 1em;
    font-size: 1em;
    font-family: $font-heading;
    color: $dark-text;
    text-transform: uppercase;
    border-bottom: 5px solid $white;
    &:hover {
      border-bottom-color: $primary;
    }
  }

  h1 {
    margin: 0;
  }

  &__nav {
    ul {
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: flex-end;

      li {
        @extend .sticky-header__nav-link;
        list-style: none;
        position: relative;

        &.current-menu-item {
          border-bottom-color: $primary;
        }

        a {
          color: $dark-text;
          text-decoration: none;
        }

        &:hover ul {
          display: block;
        }

        ul {
          display: none;
          margin: 0;
          padding: 1em 1em 1em 0;
          position: absolute;
          top: calc(100% + 5px);
          background-color: $primary;

          li,
          li:hover {
            border: none;
          }
          a {
            color: white;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

  &__open-menu {
    @extend .button--clear;
    @extend .sticky-header__nav-link;
    text-decoration: none;
    cursor: pointer;
  }
}

header[data-fixed="true"] {
  .news-bar {
    margin-bottom: 5em;
  }
  .sticky-header {
    position: fixed;
    top: 0;
    box-shadow: 0 10px 20px -15px #000;
  }
}

@media screen and (max-width: 730px) {
  .sticky-header__nav {
    display: none;
  }
}

@media screen and (min-width: 730px) {
  .sticky-header__open-menu {
    display: none;
  }
}

.sticky-header[data-open="true"] {
  position: fixed;
  top: 0;
  height: 100%;

  .sticky-header__wrapper {
    flex-wrap: wrap;
    align-content: space-between;
    padding-top: .425em;
  }

  .sticky-header__open-menu {
    margin-left: auto;
    display: block;
  }

  .sticky-header__nav {
    margin-top: 3em;
    display: block;
    order: 2;
    flex-basis: 100%;

    ul {
      flex-direction: column;
      align-items: center;
      margin: 0 auto;

      li {
        text-align: center;

        ul {
          display: block;
          position: static;
          padding-top: .5em;
          padding-bottom: .5em;
          background-color: $gray;
          a {
            color: $dark-text;
          }

        }
        &:hover {
          ul {
            background-color: $primary;
            a {
              color: $light-text;
            }
          }
        }
      }
    }
  }
}