$font-heading: 'Fjalla One', sans-serif;
$font-body: 'Open Sans', sans-serif;

$white: #fff;
$gray: #f5f5f5;
$primary: #d00;
$primary-hover: #f00;

$dark-text: #000;
$light-text: #fff;

$light-button: rgba(255, 255, 255, .25);
$light-button-hover: rgba(255, 255, 255, .55);
$light-button-border: rgba(255, 255, 255, .13);

$dark-gradient-end: rgba(55, 10, 4, .99);
$dark-gradient-start: rgba(7, 7, 109, .88);