{% extends "base.twig" %}

{% block content %}
  <section class="page-content__wrapper">
    {% for post in posts %}
      {% include ["tease-"~post.post_type~".twig", "tease.twig"] %}
    {% endfor %}
  </section>
{% endblock %}