<section class="bio">
  <div class="bio__image"><img src="http://localhost/wp-content/uploads/2017/03/17389198_1236496483086768_7760973891373405706_o.jpg" alt="Foto van Remco"></div>
  <div class="bio__text-box">
    <h3 class="bio__name">Remco van Pel</h3>
    <h4 class="bio__title">Commissaris PR & Bewustwording</h4>
    <p class="bio__description">De PR commissie doet vanalles en nogwat. Echt niet normaal hoeveel tjonge jonge zeg. Verder zorgen ze voor promotie materiaal, al het drukwerk in het restaurant, de website en een hele toffe PR stunt enzo.</p>
    <blockquote class="bio__quote">Happietaria is sinds ik een kind ben mijn droom zo vet vind ik dit. Teksten schrijven is ook echt helemaal mijn ding. Gewoon schittermagisch dit.</blockquote>
    <h4 class="bio-minions__title">Commissieleden</h4>
    <ul class="bio-minions__list">
      <li>Arjo Bruijnes</li>
      <li>Esmee van der Horst</li>
      <li>Wessel Schuurman</li>
    </ul>
  </div>
</section>