<div id="newsBar" class="news-bar">
  <section class="news-bar__wrapper">
            <span>
              <h1 class="news-bar__heading">NIEUWS:</h1>
              <a class="news-bar__article" href="{{ latest_post.link }}">{{ latest_post.title }}</a>
            </span>
    <a class="news-bar__all-news" href="/nieuws">ALLE NIEUWS</a>
  </section>
</div><!-- #newsBar -->
<div id="stickyHeader" class="sticky-header">
  <div class="sticky-header__wrapper">
    {% include 'header-logo.twig' %}
    <nav id="nav-main" class="sticky-header__nav" role="navigation">
      {% include "menu.twig" with {'menu': menu.get_items} %}
    </nav><!-- #nav -->
  </div>
</div><!-- #stickyHeader -->