{% extends 'base.twig' %}

{% block content %}
      <div id="root"></div>

    {{ function('wp_enqueue_script', 'signup', theme.link ~ '/static/signup/js/main.12b01160.js', [], false, true) }}
    {{ function('wp_enqueue_style', 'signup-style', theme.link ~ '/static/signup/css/main.a61ab203.css') }}
{% endblock %}

