<div class="page-header">
  <div class="page-header-content">
    <div class="page-header-content__image">
      <img src="http://www.happietarialeiden.nl/wp-content/uploads/2016/11/PyE_foto-story_Lucia-Jaqueline.jpg" alt="">
    </div>
    <section class="page-header-content__text-area">
      <h1>Huiselijk geweld in Bolivia</h1>
      <p>Dit jaar haalt Happietaria Rotterdam geld op voor initiatieven in Bolivia die Huiselijk geweld tegen gaan. Bolvia kampt met veel huiselijk geweld waardoor kinderen benadeeld worden omdat ze van een huiselijk omgeving beroofd worden.</p>
      <a class="button" href="">MEER OVER BOLIVIA</a>
    </section>
  </div>
</div>