{% extends 'base.twig' %}

{% block content %}
      <div id="root"></div>

    {{ function('wp_enqueue_script', 'signup', theme.link ~ '/static/signup/js/main.0e736c02.js', [], false, true) }}
    {{ function('wp_enqueue_style', 'signup-style', theme.link ~ '/static/signup/css/main.37105a2d.css') }}
{% endblock %}

