{% extends "tease.twig" %}

{% block content %}
  {% if post.thumbnail.src %}
    <div class="tease-post__thumbnail" style="background-image: url('{{post.thumbnail.src}}')"></div>
  {% endif %}
	<h2 class="tease-post__heading"><a href="{{post.link}}">{{post.title}}</a></h2>
  <p class="tease-post__preview">{{post.get_preview(25)}}</p>

{% endblock %}